<% diff = added.length - removed.length %>
<h2>Net Followers <%= (diff < 0) ? '' : '+' %><%= diff %> (<%= after.followers.length %>)</h2>
<% tz = ::TZInfo::Timezone.get('America/Chicago') %>
<% since = tz.utc_to_local(before.timestamp.utc).strftime('%b %d %H:%M:%S %P').gsub(/\s*UTC/, '') %>
Since <%= since %>
<% if added.any? %>
  <h3>Followers (+<%= added.length %>)</h3>
  <ul>
    <% added.each do |user| %>
      <li><a href="http://twitch.tv/<%= user %>/following"><%= user %></a></li>
    <% end %>
  </ul>
<% end %>
<% if removed.any? %>
  <h3>Unfollowers (-<%= removed.length %>)</h3>
  <ul>
    <% removed.each do |user| %>
      <li><a href="http://twitch.tv/<%= user %>/following"><%= user %></a></li>
    <% end %>
  </ul>
<% end %>
